<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
<a href="/" class="navbar-brand">
<span class="glyphicon glyphicon-picture"></span>
My 2016-17 Instagram Photos
</a>
</div>
</div>
</nav>