<meta charset="UTF-8">
<title>My Node App!</title>
<!-- CSS -->
<link rel="stylesheet"
href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css">
<link href="css/bootstrap-theme.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="../public/css/style.css">